/* JavaScript/ES6 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: slategrey;
  padding-top: 5rem;
  min-height: 100vh;
}
h1 {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: azure;
}
button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
}
